.header{/*pai*/
  background-color: var(--background-color-header);
  width: 100vw;
  height: 100vh;
  /* border: solid black 1px; */
  /* flex-box */
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* flex-box */
  margin: 0 auto;
}
.header__link{
  /* border: solid black 1px; */
  width: 80vw;
  height: 30vh;
}
.header__link{
  display: flex;
  justify-content: space-around;
  margin-top :1rem;
}
.header__eu{
  /* border:solid black 1px; */
  width: 30vw;
  height: 20vh;
  margin-top :1rem;
  padding-top: 0;
  color: var(--color-text);
}
#h3__eu-titulo{
  font-family:var(--font-family-header) ;

}
.header__link-itens {/*pai*/
  /* border:solid black 1px; */
  width: 40vw;
  height: 20vh;
  
  /* flex-box */
  display: flex;
  justify-content: space-around;
  
}
/* texto sobre header */
.header__sobre{ /*pai*/
  /* border: solid 1px; */
  width: 80vw;
  height: 30vh;
  /* box-model */
  margin-top:0rem;

  /* flex-box */
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.haeder__sobre-text{
  /* border: solid black 1px; */
  width: 45vw;
  height: 20vh;
  /* box-model */
  margin-top: 1rem;
}
.h1{
  color:var(--color-text) ;
}
 
.header__sobre-link {
  max-width:50vw;
  display:flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
} 

.header__sobre-photo{
  /* border: solid black 1px; */
  width: 30vw;
  height: 30vh;
  /* box-model */
  margin-top: -1rem;
  /* border: solid black 1px; */
}
.logo{
  /* border: solid black 1px; */
  max-height: 220px;
  max-width: 100%;
  /* box-model */
  margin-left: 8rem;
  border-radius: 50%;

}
 /* estilos */

 .header__eu h3{
  font-family: 'Poppins', sans-serif;
  
 }
.header__link li{
  list-style: none;
 }
 .header__link-itens li >a{
  text-decoration:none;
  color: var(--color-text);

}
 li{ /*header link*/
  text-decoration: none;
  font-family: 'Poppins', sans-serif;  
  font-size: 1rem;
  font-weight: bold; 
}

h1{
  font-family: var(--font-family-h1);
}
li{
  list-style: none;
}
.header__link-itens li>a{
  font-family: var(--font-family); 
}

.haeder__sobre-text h1{
  font-family: 'Poppins', sans-serif;  
 
}
.haeder__sobre-text p{
  font-family: 'Poppins', sans-serif;  
  color: var(--color-text);
}
.header__sobre-link li > a{
  text-decoration: none;
  background-color: #F0F8FF;
  font-family: 'Poppins', sans-serif;  
  color:var(--color-text) ;
}