/* celulares 480 */
@media (max-width:480px){
  .header{
    width: 100vw;
    height: 90vh;
    display: flex;    
  }
  .header__sobre{
    margin-top: -2rem;
  }
  .header__link{
    width: 100vw;
    /* flex-box */
    display: flex;
    justify-content: space-between;
  }
  .header__eu h3{
    width: 40vw;
    font-size: 1rem;
    
   /*box-model*/
    padding-left: 1rem;
  }
  #header__link-iten{
    font-size: 0.75rem;
    /* box-model */
    margin-top:1rem ;
    padding-right: 2rem;
  }
  .header__link-iten{
    display: none;   
  }

  .header__photo{
    height: 15vh;
    border-radius: 50%;
    background-image: url('/gs_portifolio/assets/images/eu.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;

    /* box-model */
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .header__sobre-photo{
    display: none;
  }
  /* texto */
  .haeder__sobre-text{
    display: flex;
    flex-direction: column;
    width: 100vw;     
  }
  .header__sobre-link-li{
    /* border: solid black 1px; */
    padding: 1rem;
  }
  .header__sobre-link li >a{
     /* border: solid black 1px;  */
    width: 100vw;
    background-color: var(--background-color-header);
    padding: 0.40rem;
  }
  .header__sobre-link li{
    
    font-size: 0.70rem;
    
    /* box-model */
    margin-left:-2rem ;
    margin-top: -2rem;
    /* border: solid black 1px; */
   }

}

/*tablets*/
@media (min-width:490px){
  .header{
    /* border: solid black 1px; */
    height: 80vh;
  }
  .header__eu{
    /* border: solid black 1px; */
    width: 30vw;
    font-size: 0.85rem;
  }

  .header__link-iten{
    display: none;   
  }
  .header__link-itens{
    /* border: solid black 1px; */
    padding-left: 10rem;
    width: 20vw;
  } 
  .header__sobre h1{
    /* border:solid black 1px; */
    width: 55vw;
  }
  .haeder__sobre-text {
    /* border: solid black 1px; */
    font-size: 0.85rem;
    /* box-model */
    margin-top: -1rem;
    margin-left: 0;
  }
  .header__sobre-paragraphy{
    /* border: solid black 1px; */
    width: 18rem;
    font-size: 0.80rem;
  }
 .logo{
  /* border: solid black 1px; */
  margin-left: 3rem;
  border-radius: 50%;
  
 }
 .header__sobre-link{
  /* border: solid black 1px; */
  width: 100vw;
  
  }
 .header__sobre-link li >a{
    font-size: 0.90rem;
    font-size: 0.80rem;
    background-color: var(--background-color-header);
    /* box-model */
    padding: 1rem;
    margin-left: -2rem;
  }

}
@media (min-width:900px){
  .header{
    height: 100vh;
  }
  .header__link-itens{
    /* border: solid black 1px; */
    width: 100vw;
    height: 5vh;
    /* box-model */
    margin-left: 0;
    padding-left: 0rem;
    padding-right: 1rem;
    
    /* flex-box */
    display: flex;
    justify-content: space-around;
  }
  .header__link-iten{
    display: block;
    font-size: 0.90rem;

  }
  #header__link-iten{
    display: block;
    font-size: 0.90rem;

  }
  .header__sobre-paragraphy{
    /* border: solid black 1px; */
    width: 50vw;
    font-size: 1rem;
    margin-top: 3rem;
  }
  .header__sobre-link{
    /* box-model */
    margin-top: 2rem;
    background-color: var(--background-color-header);
  }
  .haeder__sobre-text h1{
    /* border: solid black 1px; */
    font-size: 2rem;
  }
  .logo{
    /* border: solid black 1px; */
    margin-left:  8rem;
  }
}