.title__skilss{
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif, 'Poppins', sans-serif;
  
  /* box-model */
  margin-top: 1rem;
  
}
.skills{
  border: solid black 1px;
  background-color: white;
  width: 100vw;
  height: 80vh;
  /* flex-box */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills__HTML{
  border: solid black 1px;
  /* background-color: red; */
  width: 15vw;
  height: 25vh;
}
#image-html{
  width: 75%;
  padding-left: 1rem;
  padding-top: 0.75rem;
}

.skills__CSS{
  border: solid black 1px;
  width: 15vw;
  height: 25vh;

}
#image-css{
  width: 75%;
  padding-left: 1rem;
  padding-top: 0.75rem;

}
.skills__Js{
  border: solid black 1px;
  background-color:yellow;
  width: 15vw;
  height: 25vh;

}
.skills__Java{
  border: solid black 1px;
  background-color:orange;
  width: 15vw;
  height: 25vh;
  
}
.skills__sql{
  border: solid black 1px;
  background-color:grey;
  width: 15vw;
  height: 25vh;
}
.skills__git{
  border: solid black 1px;
  width: 15vw;
  height: 25vh;

}
#images-git{
  width: 75%;
  padding-left: 1rem;
  padding-top: 0.75rem;
 
}