/* celulares */
@media(max-width:480px){
  .container__sobre{
    margin: 0rem 2.75rem;
    width: 100vw;
    height: 80vh;
     /* box-model */
    margin-top: 6rem;
    }

  .container__sobre-text{
   /* box-model */
   margin-top: 4rem;
    
  }

}
@media(min-width:490px){
  .container__sobre{
    margin: 0rem 2.75rem;
    width: 100vw;
    height: 80vh;
   /* box-model */
      /* box-model */
    
      margin-top: 1rem;
  }
  .container__sobre-text{
    font-size: 2rem;
    margin-top: 4rem;
  }
  .container__sobre-paragrapy{
    font-size: 1rem;
  }
}