/* celulares */
@media(max-width:480px){
  .container__sobre{
    margin: 0rem 2.75rem;
    width: 100vw;
    height: 80vh;
     /* box-model */
     margin-top: 1rem;
  }

}
@media(min-width:490px){
  .container__sobre{
    margin: 0rem 2.75rem;
    width: 100vw;
    height: 80vh;
   /* box-model */
    margin-top: 0.50rem;
  }
}