.titles{
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  background-color: var( --color-text);
  color: var(--color-text);
  margin-top: 2rem;
  background-color: var(  --background-color-header);

}
.academys{
  /* border: solid black 1px; */
  width: 100vw;
  height: 80vh;
  /* flex-box */
  display: flex;
  justify-content: space-around;
}
.academys__senai{
  /* border: solid black 1px; */
  width: 30vw;
  height: 40vh;
  /* box-model */
  margin-top: 3rem;
}
#logo-senai{
  width: 100%;
  height: 100%;
}
.academys__recod{
  /* border: solid black 1px; */
  width: 30vw;
  height: 40vh;
  /* box-model */
  margin-top: 3rem;
}
#logo-recod{
  width: 100%;
  height: 100%;
}
figcaption{
  font-family: var(--font-family);
  text-align: center;
  color: var(--color-text);

}